.sandwich-menu {
    position: relative;
    width: 50px;
}

.sandwich-menu__button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    color: #333;
}

.sandwich-menu__list {
    position: absolute;
    top: calc(100% + 5px); /* Alinhando logo abaixo do botão */
    left: 0;
    width: 180px; /* Ocupando a largura total */
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px 10px 15px 10px;
    margin-top: 0px ;
    margin-left: 8px;
    list-style-type: none;
    border-radius: 5%;
    color: #131d2c;
    cursor: pointer;
        
}

.sandwich-menu__list li {
    padding: 5px 0;
}

.sandwich-menu__list li:hover {
    background-color: #f0f0f0;
}









/* ---------------------------------------- */

/*.sandwich-menu {
    position: relative;
  }
  
  .sandwich-menu__button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    color: #333;
  }
  
  .sandwich-menu__list {
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    list-style-type: none;
    /*display: none;
  }
  
  /*.sandwich-menu__list li {
    padding: 5px 0;
  }
  
  .sandwich-menu__list li:hover {
    background-color: #f0f0f0;
  }
  
  .sandwich-menu__list.visible {
    display: block;
  } */